/*cabecera de la pagina*/
/* diseño mobile*/
@import "./partials/inicio","./partials/maps", "./partials/color", "./partials/boders", "./partials/header", "./partials/form", "./partials/footer",  "./partials/body";

* {
    padding: 0px;
    margin: 0px;
}

/*fin de la cabecera */
/*cuerpo de la pagina */

@keyframes fondo {
    0%{
    background-color: #eff0ef;
    padding: 20px;
    }
    25%{
    background-color: #1fbbe2;
    padding: 30px;
    }
    50%{
        background-color: #000000;
        padding: 10px;
    }
    100%{
        background-color: #eff0ef;
        padding: 20px;
    }

}
@media screen and (max-width: 599px) and (orientation: landscape) {
.grid {
      grid-template-rows: 3fr 2fr 1fr;
}
}
    
/*fin del cuerpo */
/*fin de diseño mobile */
/*diseño para taleta */ 
