@charset "UTF-8";
/*cabecera de la pagina*/
/* diseño mobile*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.iniciomain {
  display: block;
}

.cardContainer2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  height: 25REM;
  padding: 0.8rem 1rem;
  margin: 1rem 1rem;
  background-color: #15b9fa;
  border-radius: 15px;
  transition: 0.2s ease all;
}

p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.img2 {
  width: 80%;
}

.card div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.card h3 {
  margin: 1rem auto 0.5rem 0;
}

h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.conocenos {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(253, 252, 252);
  text-decoration: none;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.imgconocenos {
  width: 90%;
  position: center;
}

.titulosinicio {
  color: #15b9fa;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}

.logomercadopago {
  width: 4%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #000000;
  height: 80px;
  margin: 0px;
}

.title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #15b9fa;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  background-color: hsl(197deg, 91%, 46%);
  border-radius: 5px;
  border: 1px solid #000000;
  padding: 6px;
  margin: 0px;
}

.navbar ul li a {
  color: rgb(10, 10, 10);
  text-decoration: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 18px;
  font-size: 20px;
  transition: color 0.7s ease-in, font-size 1.5s;
}

.titulos {
  text-align: center;
  color: hsl(197deg, 91%, 46%);
}

.navbar ul li a:hover {
  color: #ffffff;
  font-size: 24px;
}

.navbar {
  display: flex;
}

.navbar-toggler {
  background-color: #15b9fa;
}

.titulodeinicio {
  color: #ffffff;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

form {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #f1d5d5;
}

form label {
  font-weight: bold;
  display: inline-block;
}

#footerindex {
  grid-area: footer;
  background-color: #000000;
  color: hsl(0deg, 0%, 100%);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  background-color: #1b1a1a;
}

nav {
  grid-area: nav;
}

#servicios {
  grid-area: servicios;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
  text-align: center;
  color: #1fbbe2;
}

aside {
  grid-area: publicidad;
}

section {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.sectionventas {
  display: grid;
  grid-area: section;
  grid-template-areas: "img img";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  color: #ffffff;
}

#guia {
  color: #eff0ef;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/*ventas de skate*/
.ventadeskate {
  display: block;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  height: 35rem;
  padding: 0.8rem 1rem;
  margin: 1rem 1rem;
  background-color: rgb(4, 129, 187);
  border-radius: 15px;
  transition: 0.2s ease all;
}

p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.card img {
  width: 70%;
}

.card div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.card h3 {
  margin: 1rem auto 0.5rem 0;
}

h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bannerdeoferta {
  width: 100%;
  align-items: center;
  height: 50%;
}

.bannerformadepago {
  width: 100%;
  height: 50%;
}

.bannerdeoferta2 {
  width: 100%;
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "nav productos" "nav publicidad" "nav servicios" "footer footer";
  }
}
/* diseño de desktop */
@media screen and (min-width: 1200px) {
  .grid {
    display: grid;
    grid-template-areas: "nav productos publicidad" "nav servicios publicidad" "footer footer footer";
    grid-template-rows: 300px 250px 200px;
    grid-template-columns: 20% auto 10%;
    height: 100vh;
  }
  .grid2 {
    display: grid;
    grid-template-areas: "nav productos2 publicidad" "nav skateventas publicidad" "nav precios publicidad";
    grid-template-rows: 300px 250px 200px;
    grid-template-columns: 20% auto 10%;
    height: 100vh;
  }
  .navbar {
    display: flex;
  }
}
.blogContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(13, 13, 14);
}

.work {
  font-size: 2rem;
  margin: 4rem 0;
  color: rgb(87, 235, 18);
}

.blog, .blogIzq {
  display: flex;
  align-items: center;
  width: 80%;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.blogIzq {
  flex-direction: row-reverse;
}

.blog div,
.blogIzq div {
  width: 60%;
  margin: auto;
  text-align: left;
}

.imgguiadecompra {
  width: 30%;
}

* {
  padding: 0px;
  margin: 0px;
}

/*fin de la cabecera */
/*cuerpo de la pagina */
@-webkit-keyframes fondo {
  0% {
    background-color: #eff0ef;
    padding: 20px;
  }
  25% {
    background-color: #1fbbe2;
    padding: 30px;
  }
  50% {
    background-color: #000000;
    padding: 10px;
  }
  100% {
    background-color: #eff0ef;
    padding: 20px;
  }
}
@keyframes fondo {
  0% {
    background-color: #eff0ef;
    padding: 20px;
  }
  25% {
    background-color: #1fbbe2;
    padding: 30px;
  }
  50% {
    background-color: #000000;
    padding: 10px;
  }
  100% {
    background-color: #eff0ef;
    padding: 20px;
  }
}
@media screen and (max-width: 599px) and (orientation: landscape) {
  .grid {
    grid-template-rows: 3fr 2fr 1fr;
  }
}
/*fin del cuerpo */
/*fin de diseño mobile */
/*diseño para taleta *//*# sourceMappingURL=style.css.map */