* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}
body {
    background-color: #1b1a1a;
}
nav {
    grid-area: nav;
}
#servicios {
    grid-area: servicios;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    text-align: center;
    color: #1fbbe2;
}
aside {
    grid-area: publicidad;
    
}
section {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.sectionventas{
    display: grid;
    grid-area: section;
    grid-template-areas: "img img";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    color: #ffffff;
}

#guia {
    color: #eff0ef;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
/*ventas de skate*/
.ventadeskate {
    display: block;
}
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    height: 35rem;
    padding: 0.8rem 1rem;
    margin: 1rem 1rem;
    background-color: rgb(4, 129, 187);
    border-radius: 15px;
    transition: .2s ease all;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.card img {
    width: 70%;
}
.card div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}
.card h3 {
    margin: 1rem auto 0.5rem 0;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.card:hover {
    transform: scale(1.03);
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.bannerdeoferta {
    width: 100%;
    align-items: center;
    height: 50%;
}
.bannerformadepago {
    width: 100%;
    height: 50%;
}
.bannerdeoferta2 {
    width: 100%;
}
@media screen and (min-width: 600px)and (orientation: portrait) {
    .grid {
     grid-template-columns: repeat(2, 1fr);
     grid-template-areas: 
     "nav productos"
     "nav publicidad"
     "nav servicios"
     "footer footer";
    }
 }
 @media screen and (min-width) and (orientation: landscape){
     
 }
 /* diseño de desktop */
 @media screen and (min-width: 1200px) {
     .grid {
         display: grid;
         grid-template-areas: 
         "nav productos publicidad"
         "nav servicios publicidad"
         "footer footer footer";
         grid-template-rows: 300px 250px 200px;
         grid-template-columns: 20% auto 10%;
         height: 100vh;
         }
         .grid2 {
             display: grid;
             grid-template-areas: 
             "nav productos2 publicidad"
             "nav skateventas publicidad"
             "nav precios publicidad";
             grid-template-rows: 300px 250px 200px;
             grid-template-columns: 20% auto 10%;
             height: 100vh;
         }
         .navbar {
             display: flex;
         }
     }