#footerindex {
    grid-area: footer;
    background-color: #000000;
    color: hsl(0, 0%, 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}