.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: $headercolor;
    height: 80px;
    margin: 0px; 
    }
.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $titlecolor;
    }
.navbar ul{
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.navbar ul li{
    display: inline-block;
    background-color: $navbarcolor;
    border-radius: $navbarradius;
    border: $navbar;
    padding: 6px;
    margin: 0px;
}
.navbar ul li a{
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    font-size: 20px;
    transition: color 0.7s ease-in, font-size 1.5s;
}
.titulos {
    text-align: center;
    color: $tituloscolores;
}
.navbar ul li a:hover {
    color: #ffffff;
    font-size: 24px;
    }
    .navbar {
        display: flex;
      }
      .navbar-toggler {
        background-color: #15b9fa;
        
      }
      .titulodeinicio {
        color: #ffffff;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }