* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}
.iniciomain {
    display: block;
}
.cardContainer2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    height: 25REM;
    padding: 0.8rem 1rem;
    margin: 1rem 1rem;
    background-color: #15b9fa;
    border-radius: 15px;
    transition: .2s ease all;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.img2 {
    width: 80%;
    
}
.card div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}
.card h3 {
    margin: 1rem auto 0.5rem 0;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.card:hover {
    transform: scale(1.03);
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.conocenos {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: rgb(253, 252, 252);
      text-decoration: none;
      margin-top: 100px;
      margin-bottom: 100px;
      text-align: center;
}
.imgconocenos {
    width: 100%;
    position: center;
}
.titulosinicio {
    color: #15b9fa;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}
.logomercadopago {
    width: 4%;
}
.imgregistrame {
    width: 100%;
}
.img3 {
    width: 100px;
}