.imgskatepark {
    width: 50%;
    }
.skatepark {
    display: flex;
    margin: 5rem 3rem;
    align-items: center;
}
.mapa_de_skateparks {
    width: 50%;
    }
    .competencia_de_skate {
        width: 100%;
    }